@font-face {
    font-family: 'Serithai';
    src: url('/assets/font/Serithai-Regular.woff2') format('woff2'),
        url('/assets/font/Serithai-Regular.woff') format('woff'),
        url('/assets/font/Serithai-Regular.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

*{
    font-family: Serithai !important;
}