<div class="content" style="padding-top:3%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">จังหวัด</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>ทั้งหมด</option>
                                    <option>กรุงเทพมหานคร</option>
                                    <option>นนทบุรี</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">สาขาบริการ</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>ทั้งหมด</option>
                                    <option>สาขาลาดพร้าว 48</option>
                                    <option>สาขา CDC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <br />
                            <button type="button" class="btn btn-danger" style="margin-top: 5px;">ค้นหา</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">Ladprod 48 สาขาลาดพร้าว48</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->300</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">CDC สาขา CDC ชั้น2</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->500</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">Ladprod 48 สาขาลาดพร้าว48</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->350</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">CDC สาขา CDC ชั้น2</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->299</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">Ladprod 48 สาขาลาดพร้าว48</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->200</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">CDC สาขา CDC ชั้น2</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->500</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">Ladprod 48 สาขาลาดพร้าว48</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->350</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div style="position: relative;width: 100%;" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <div>
                                                <div class="contain-front-package2"><a><label
                                                            class="contain-front-label-package">
                                                            <div class="contain-front-package3">
                                                                <img src="/assets/img/package4.jpg"
                                                                    class="img-front-package">
                                                            </div>
                                                        </label>
                                                        <div class="package-name">CDC สาขา CDC ชั้น2</div>
                                                    </a></div>
                                            </div>
                                            <div>
                                                <div class="contain-description">
                                                    <div class="contain-description2">
                                                        <a class="text-description">แพ็กเกจตัดโกนเชท
                                                            ให้บริการตัดผมและโกนหนวดพร้อมเชทผม</a></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="contain-price1">
                                                    <div class="contain-price2">
                                                        <span class="package-price">฿
                                                            <!-- -->299</span>
                                                        <!-- <span class="sc-1cvnq8v-0 LvaVC">฿ 2000</span>-->
                                                    </div>
                                                    <div class="_2eijmBCzZJDBqBIxfCByc5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="
            padding: 20px 30px 0px 35px;
            border-bottom: 1px solid #d71923;
            background: #d71923;
            color: #fff;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">เข้าสู่ระบบ</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 35px">
                    <!--
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">ชื่อ-สกุล</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">E-mail</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Password</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-12" style="text-align: center">
                            <button class="btn btn-danger btn-block" (click)="gotoBooking()">เข้าสู่ระบบ</button>
                        </div>
                    </div>
                    <br />
                    <div style="border-top: 1px solid #dbdbdb"></div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                      
                            <button class="btn btn-block btn-secondary" (click)="openDialog()"  >สมัครสมาชิก</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary"  (click)="socialSignIn('facebook')"  >Facebook</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-danger" (click)="socialSignIn('google')">Gmail</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





